<!–– INTERNAL TABLE FOR PACKAGES --!>
<div id="accordion">
<div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
<h3 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="0">NVREA</h3>
<div class="net_content ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: none; height: 194px;">
<table id="subtable" class="sortable">
    <thead>
        <tr>
            <th>NVREA</th>
        </tr>
    </thead>
    <tbody>
    {% if hostvars[linux_host]['r_nvrea'] is defined %}
        {% if hostvars[linux_host]['r_nvrea']['rc'] == 1 %}
                <tr>
                    <td>NO RESULTS</td>
                </tr>     
        {% else %}      
            {% for key in hostvars[linux_host]['r_nvrea']['stdout_lines'] %} 
                <tr>
                    <td>{{key}}</td>
                </tr>   
            {% endfor %}
        {% endif %}
    {% endif %}
    </tbody>
</table>
</div>
</div>
</div>
<!–– END INTERNAL TABLE FOR PACKAGES --!>
